.bg-purpule{
  background-color:#8E7AB5;
}
.bg-orange{
  background-color:#FF9800;
}

.bg-green{
  background-color:#2C7865;
}

.bg-red{
  background-color:#FF004D;
}
.bg-kashmere{
  background-color:#944E63;
}

.bg-yello{
  background-color:#EBF400;
}

.my-border{
    border:20px double 1D24CA;
}